:root {
	--dpri: #778899;
	--dsec: #708090;
	--dbac: #10101c;
	--dshad: var(--dshad);
	}

.D {
	background: var(--dbac);
	color: var(--dpri);
	font-size:1rem;
	line-height:1.5;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
	-webkit-text-size-adjust:100%;
	zoom:1;
	font-family: 'Comfortaa';
	margin:0 auto;
	max-width:50rem;
	padding-top: 4.3rem;
	}

.D .switch {
	align-self: flex-end;
	margin: -1rem;
	}
	
.D .inner-switch {
	background-color: inherit;
	cursor: pointer;
	position: fixed;
	margin: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: 0 1px 2px 2px var(--dshad);
	top: 0;
	padding: 0.2rem;
	}

.D a {
	color: var(--dpri);
	font-weight:bold; 
	}

.D a:visited {
	color: grey;
	font-weight: bold;
	}

.D blockquote {
	background: #707070;
	color: black;
	border-left:5px solid black;
	font-size:120%;
	margin:2rem 0;
	padding:1rem; 
	}

.D blockquote header {
	font-weight: bold;
	font-size: 25px;
	color: black;
	}

.D blockquote p {
	margin:0;
	}
	
.D blockquote footer {
	font-size:90%;
	margin:1rem 0 0 0;
	}
	
.D .card {
 	padding: 20px;
 	box-shadow: 0 4px 8px -2px #1c2e4a;
 	border: 1px solid var(--dpri);
 	border-radius: 0.5rem;
	margin-bottom: 4rem;
	}	

.D .card:hover {
	box-shadow: 2px 4px 8px 2px #1c2e4a;
	border: none;
	}

.D .area, .D .area:visited, .D .area:hover, .D .area:visited:hover {
	color: var(--dpri);
	text-decoration: none;
	font-weight: normal;
	}

.D .date {
	color: inherit;
	float: right;
	font-weight: bold;
	margin-bottom: 1rem;
	margin-top: 0;
	font-size: 14px;
	}

.D .author {
	color: inherit;
	float: left;
	font-weight: bold;
	margin-bottom: 1rem;
	margin-top: 0;
	font-size: 14px;
	}

.D .tag {
	font-weight: bold;
	color: var(--dpri);
	}

.D a:hover, .D a:visited:hover {
	color: grey;
	}
	
.D a.active {	
	background: var(--dbac);
	padding:0.5rem;
	color: var(--dpri);
	font-weight:bold; 
	border-radius: 0.5rem;
	border: 1px solid var(--dsec);
	margin: 0.925rem;	
	text-decoration: none;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
	}

.D ul {
	list-style-type: '# ';
	color: var(--dpri); 
	}

.D .ull {
	font-family: 'Baloo Paaji 2';
	font-size: 19px;
	font-weight: bold;
	color: var(--dpri);
	list-style-type: '# ';
	}

.D ol li {
	font-family: 'Baloo Paaji 2';
	font-size: 19px;
	}

.D dl dt {
	margin-bottom:0.5rem;
	}

.D dl dd {
	font-style:italic;
	margin-bottom:2rem;
	}

.D html {
	box-sizing:border-box;
	}

.D strong,.D b,.D h1,.D h2, .D h3,h4 {
	font-weight:bold;
	color: var(--dsec);
	}

.D hr {
	background: var(--dpri);
	border: none;
	height:1px;
	border-radius: 2rem;
	margin: 3rem 3rem;
	}

.D p {
	font-family: 'Baloo Paaji 2';
	font-size:1.23rem;
	}

.D table {
	border-collapse:collapse;
	text-align:left;
	overflow: auto;
	whitespace: nowrap;
	width:100%;
	}

.D table tr {
	border-bottom:1px solid black;
	}

.D table td {
	padding:0.5rem;
	}

.D .img {
	width:100%;
	margin:0.5rem 0;
	height: auto;
	border: none;
	border-radius: 0.5rem;
	} 

.D .cover {
	width: 100%;
	height: auto;
	margin:1rem 0;
	border: none;
	border-radius: 0.5rem;
	} 

.D .caption {
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	margin-top: -0.5rem;
	margin-bottom: 1.5rem;
	color: var(--dsec);
	}

.D home, .D back {
	background: var(--dbac);
	padding:0.5rem;
	color: var(--dpri);
	font-weight:bold;
	border-radius: 0.5rem;
	border: 1.7px solid var(--dpri);
	text-align: center;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
	}

.D home:hover, back:hover {
	background: black;
	}

.D .index {
	background: var(--dbac);
	color: var(--dpri);
	font-weight:bold;
	border-radius: 0.5rem;
	text-decoration: none;
	border: 1.7px solid var(--dpri);
	text-align: center;
	padding: 0.5rem;
	margin-right: 0.3rem;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
	}

.D .index:hover {
	background: black;
	}

.D .btn {
	display: inline-block;
	background-color:#000000; 
	color:var(--dpri); 
	font-family: 'Comfortaa';
	border: 1px solid #0e2443;
	border-radius: 1.25rem; 
	width: 3rem auto;
	font-weight: bold;
	padding: 0.1875rem; 
	margin-left: 0.3125rem;
	}

/* .D nav ul ::-webkit-scrollbar {
	width: 2px;
	height: 2px;
	}

.D nav ul ::-webkit-scrollbar-track {
	border: 2px #3f3f3f;
	border-radius:2px;
	}

.D nav ul ::-webkit-scrollbar-thumb {
	background: var(--dpri);  
	border-radius: 2px;
	}

.D nav ul ::-webkit-scrollbar-thumb:hover {
	background: var(--dpri);  
	}
*/

.D nav ul {
	list-style:none;
	text-align:center;
	padding: 1rem;
	top: 0;
	margin: 0;
	background: var(--dbac);
	opacity: 0.92;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
	}

.D nav ul li {
	display:inline-block;
	}

.D nav a {
	margin: 0.5rem;
	}
		
.D .navbar {
	overflow: hidden;
	}
	
.D .dropdown-menu-center {
	left: 50%;
	right: auto;
	text-align : center;
	transform : translate(- 50% , 0);
	}
	
.D .navbar a {
	float: inherit;
	font-size: 16px;
	color: black;
	text-align: center;
	padding: 16px 18px;
	text-decoration: none;
	}

.D .dropdown {
	float: inherit;
	font-size: 16px;
	text-align: center;
	text-decoration: none;
	}

.D .dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: black;
	background-color: inherit;
	font-weight: bold;
	color: var(--dpri);
	font-family: inherit;
	margin: 0;
	}

.D .navbar a:hover, .D .dropdown:hover .dropbtn {
	background-color: inherit;
	}

.D .content {
	padding: 16px;
	}

.D .dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 140px;
	height: 21.5rem;
	overflow: scroll;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	}

.D .dropdown-content a {
	float: inherit;
	color: var(--dpri);
	padding: 12px 16px;
	text-decoration: none;
	font-weight: bold;
	display: block;
	text-align: left;
	}

.D .dropdown-content a:hover {
	background-color: var(--dbac);
	color: var(--dpri);
	border-radius: 0.5rem;
	}

.D .dropdown:hover .dropdown-content {
	display: block;
	border-radius: 0.5rem;	
	border: none;
	top: 4rem;
	}

.D .footer {
	background: var(--dbac);
	color: var(--dsec);
	padding: 1rem;
	font-family: 'Baloo Paaji 2';
	border-radius:0.5rem;
	border: 0.5px solid var(--dshad);
	margin-top: 2rem;
	font-weight:bold;
	box-shadow: 0 1px 2px 2px var(--dshad);
	}
	
.D .footer a {
	text-decoration: none;
	color: var(--dpri);
	}

.D .footer b {
	color: :var(--dpri);
	}

.D .pin {
	display: none;
	}
/* Written with <3 by Samiul Joy. Yes it has some flaws here and there, but idk, try it perhaps, maybe you'll like it. Also if you like it, feel free to support me. github/samiuljoy */
