/*
Zenburn style from voldmar.ru (c) Vladimir Epifanov <voldmar@voldmar.ru>
based on dark.css by Ivan Sagalaev. Modified by Samiul Joy.
*/

.hljs {
  display: block;
  border: 2px solid #10101c;
  border-radius: 0.5rem;
  overflow: auto;
  padding: 0.5em;
  max-height: 180px;
  background: #10101c;
  color: #dcdcdc;
}

@media screen and (min-width: 800px) {
	.hljs {
		height: auto;
	}
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-tag {
  color: #e3ceab;
}

.hljs-template-tag {
  color: #dcdcdc;
}

.hljs-number {
  color: #8cd0d3;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute {
  color: #efdcbc;
}

.hljs-literal {
  color: #efefaf;
}

.hljs-subst {
  color: #8f8f8f;
}

.hljs-title,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: #efef8f;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #dca3a3;
}

.hljs-deletion,
.hljs-string,
.hljs-built_in,
.hljs-builtin-name {
  color: #cc9393;
}

.hljs-addition,
.hljs-comment,
.hljs-quote,
.hljs-meta {
  color: #7f9f7f;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.D .hljs {
  display: block;
  border: 1px solid #0e2433;
  border-radius: 0.5rem;
  overflow: auto;
  padding: 0.5em;
  max-height: 180px;
  background: #152238;
  color: #dcdcdc;
}

@media screen and (min-width: 800px) {
	.D .hljs {
		height: auto;
	}
}

.D .hljs-keyword,
.D .hljs-selector-tag,
.D .hljs-tag {
  color: #e3ceab;
}

.D .hljs-template-tag {
  color: #dcdcdc;
}

.D .hljs-number {
  color: #8cd0d3;
}

.D .hljs-variable,
.D .hljs-template-variable,
.D .hljs-attribute {
  color: #efdcbc;
}

.D .hljs-literal {
  color: #efefaf;
}

.D .hljs-subst {
  color: #8f8f8f;
}

.D .hljs-title,
.D .hljs-name,
.D .hljs-selector-id,
.D .hljs-selector-class,
.D .hljs-section,
.D .hljs-type {
  color: #efef8f;
}

.D .hljs-symbol,
.D .hljs-bullet,
.D .hljs-link {
  color: #dca3a3;
}

.D .hljs-deletion,
.D .hljs-string,
.D .hljs-built_in,
.D .hljs-builtin-name {
  color: #cc9393;
}

.D .hljs-addition,
.D .hljs-comment,
.D .hljs-quote,
.D .hljs-meta {
  color: #7f9f7f;
}


.D .hljs-emphasis {
  font-style: italic;
}

.D .hljs-strong {
  font-weight: bold;
}
