# A moose image
hannibal.jpg

# plans of later pushes
bash-scripts/checklist.txt

# image
bino.jpg

# ignore transfer file lists
bash-scripts/transfer.txt
bash-scripts/transferD.txt

# random shits
bash-scripts/dark2.svg
bash-scripts/dark3.svg
bash-scripts/day.svg
bash-scripts/logo.txt
bash-scripts/logo1.txt
bash-scripts/night.svg
bash-scripts/script.js
bash-scripts/style
bash-scripts/tmp
posts/tmp
posts/retro.html
iframe.txt

# But then again, ignore all
transfer*
test*
dark*
tmp/
