	body {
		
		font-size:1rem;
		line-height:1.5;
		-webkit-font-smoothing:antialiased;
		text-rendering:optimizeLegibility;
		-webkit-text-size-adjust:100%;
		zoom:1;
		font-family: 'Comfortaa', sans-serif;
		margin:0 auto;
		max-width:50rem;
		padding:1rem; 
		padding-top: 3rem;
	}
	
	header p strong {

		text-transform:uppercase
	
		}
	
	a,a:visited {
	
		color:black;
		font-weight:bold 
	
		}

	a:hover,a:visited:hover {
	
		color: grey;

		}
	
	a.active {	

		background: #1c4966;
		padding:0.5rem;
		color:white;
		font-weight:bold; 
		border-radius: 0.5rem;
		border: 1px;
		margin: 0.925rem;	
		text-decoration: none;
		box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);

		}

blockquote {
		
		background: #ddd;
		color: black;
		border-left:5px solid black;
		font-size:120%;
		margin:2rem 0;
		padding:1rem 
		
		}

	blockquote p {
	
		margin:0
		
		}
	
	blockquote footer
		{
	
		font-size:90%;
		margin:1rem 0 0 0
	
		}

ul {
	list-style-type: '# ';
	color: #778899; 
}

ol li {
	font-family: 'Baloo Paaji 2', sans-serif;
	font-size: 18px;
}


	dl dt {
	
		margin-bottom:0.5rem
		
		}

	dl dd {

		font-style:italic;
		margin-bottom:2rem
	
		}

	.date {
	
	opacity:0.6
	
	}
	
	html {
	
	box-sizing:border-box
	
	}

	*,*:before,*:after {
	
	box-sizing:inherit
	
	}

	strong,b,h1,h2,h3,h4 {

	font-weight:bold;
	color: #1c4966;
	}

	hr {
	
	background: #1c4966;
	border: none;
	height:1px;
	border-radius: 2rem;
	margin:2rem 0;
	width:100%
	}

	p {
	
	font-family: 'Baloo Paaji 2', sans-serif;
	font-size:1.2rem;

	}

	table {
	
	border-collapse:collapse;
	text-align:left;
	width:100%
	
	}

	table tr {

	border-bottom:1px solid black
	
	}

	table td {

	padding:0.5rem
	
	}

	img {
	
	width:100%;
	margin:0.5rem 0
	
	} 

home, index {
	background: #1c4966;
	padding:0.5rem;
	color:white;
	font-weight:bold;
	border-radius: 0.5rem;
	border: 1px;
	text-align: center;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);

	}

	nav ul {

	list-style:none;
	text-align:center;
	padding: 1.4rem;
	top: 0;
	margin: 0;
	background: white;
	box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
	}


	nav ul li {

	display:inline-block;
	
	}

	nav a {

	margin: 0.5rem;
	}
		
	.navbar {
  	
	overflow: hidden;
	
	}
	
	.dropdown-menu-center {
	
	left: 50%;
	right: auto;
	text-align : center;
	transform : translate(- 50% , 0);
	}
	
	.navbar a {

	  float: inherit;
	  font-size: 16px;
	  color: black;
	  text-align: center;
	  padding: 16px 18px;
	  text-decoration: none;
	
	}

	.dropdown {

	  float: inherit;
	  font-size: 16px;
	  text-align: center;
	  text-decoration: none;
	
	}

	.dropdown .dropbtn {

	  font-size: 16px;  
	  border: none;
	  outline: none;
	  color: black;
	  background-color: inherit;
	  font-family: inherit;
	  margin: 0;
	
		}

	.navbar a:hover, .dropdown:hover .dropbtn {

	  background-color: #002e43;
	
	}

	.content {
	
	padding: 16px;
	
	}

	.dropdown-content {
	
	  display: none;
	  position: absolute;
	  background-color: #f9f9f9;
	  min-width: 140px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	
	}

	.dropdown-content a {

	  float: inherit;
	  color: #1c4966;
	  padding: 12px 16px;
	  text-decoration: none;
	  display: block;
	  text-align: left;
	
	}

	.dropdown-content a:hover {
	
	background-color: #ddd;
 		
	}

	.dropdown:hover .dropdown-content {

	display: block;
	border-radius: 0.5rem;	
	top: 4rem;
	}

	footer {

	margin:2rem 0;
	}
	
	.switch .tooltip {

	align-self: flex-end;
    	margin: -1rem;

	}
	
.inner-switch {
	
	background-color: inherit;
    	cursor: pointer;
	border: none;
    	border-radius: 1.25rem;
	float: left;
	margin: 0.5rem;
	top: 0;
	padding: 0.5rem;

	}

.tooltip .tooltiptext {

	visibility: hidden;
	width: 210px;
	background-color: inherit;
	color: #3f3f3f;
	border: 2px solid inherit;
	text-align: center;
	border-radius: 50px;
	padding: 0px 0;
	position: absolute;
	font-style: italic;
	}
	
.tooltip:hover .tooltiptext {

	visibility: visible;
	width: 210px;	
	}
